<div class="container-fluid footer">
    <div class="container">
        <br><br>
        <div class="row" style="margin-bottom: -40px;">
            <div class="col-md-2">
                <h1 class="footer-title">OUR PRODUCTS</h1>
                <br>
                <ul>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Grape Jelly</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif; list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Strawberry Jelly</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Apple Butter</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Blackberry</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Blueberry</i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h1 class="footer-title">USEFUL LINKS</h1>
                <br>
                <ul>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Home</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> About Us</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Our Products</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Contact Us</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-caret-right" aria-hidden="true"> Feedback</i></a>
                    </li>
                </ul> 
            </div>
            <div class="col-md-4">
                <h1 class="footer-title">CONTACT US</h1>
                <br>
                <ul>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-map-marker" aria-hidden="true"> : 1414 S Tryon, Charlotte, NC 28203</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-phone" aria-hidden="true"> : +1 704-123-4567</i></a>
                    </li>
                    <br>
                    <li style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;  list-style-type: none;">
                        <a href="#" style="color:#fff; font-size: 18px;"><i class="fa fa-envelope" aria-hidden="true"> : info@mhjamsandJellies.com</i></a>
                    </li>
                </ul> 
            </div>
            <div class="col-md-4">
                <h1 class="footer-title">ABOUT MAHER AND HALL'S JAMS AND JELLIES</h1>
                <p style="text-align: justify; color: #fff;">
                    Here at Maher and Hall’s Famous Jams and Jellies, we offer the best jam and jelly flavor choices in the city. We are always coming up with a new flavor, so not one flavor will ever go unnoticed.
                </p>
            </div>
        </div>
        <br><br>
    </div>
</div>
<div class="container-fluid copyright">
    <h5 style="font-size: smaller; margin-top: 10px;">&copy; copyright <strong><span>Maher and Hall's Jams & Jellies</span></strong>.All Rights Reserved</h5>
</div>
