<app-top-navbar></app-top-navbar>
<div class="container-fluid page-head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <h2 class="title-link">Home / About Us </h2>
                <h2 class="page-big-title">About Us</h2>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid about-body">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-6">
                <br><br>
                <img class="img-thumbnail" src="../../../assets/story.jpg" alt="Random first slide">
            </div>
            <div class="col-lg-6">
               <h2 class="bloc-title">OUR <span style="color: #ff5c5c;">STORY</span></h2>
                <p style="color: #ffffff; text-align: justify;">In the early 2010s two men shared a vision... Provide the world with the 
                   best damn jams and jellies ever seen. Hours... Days... Months passed the 
                   blood sweat and tears finally paid off. The most fantastic huckleberry 
                   jam you could ever imagine!
                </p>
                <p style="color: #ffffff; text-align: justify;">Shortly after demoing the product to a few of their closest, the two decided it was time to go    mainstream. Loading up their wagon in midland and took off for the big city. The cart was a hit, people crowded outside the Packard Place in uptown all hours of the day and night to get some of the delicious jams.
                </p>
                <p style="color: #ffffff; text-align: justify;">Several years and several flavors later, disaster struck… Covid-19 forced their small jam wagon to close. Down on their luck Maher and Hall decided to look for new resources.That's when they discovered Fry and Gardner Tech Incorporated: Industry & Financial introspective. Together the two companies set off to design a new product to bring jams and jellies into the digital age.
                </p>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="container-fluid mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <h2 class="bloc-title">Our Mission<span style="color: #161e67;"> & Vision</span></h2>
                <br><br>
                <p style="color: #ffffff; font-size: 34px; text-align: center;"><span style="font-size: 34px;"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                    We are a sustainable supplier of jams and jellies from heirloom fruits. We
                    strive to offer the most affordable and delicious jams in the South.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-image: url(../../../assets/background-good.jpg); background-size: cover;
  background-attachment: fixed;">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="bloc-title">Our <span style="color: #161e67;"> Founders</span></h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6" style="margin-top: 10px;">
                <div class="card">
                    <br>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../assets/pasha.png" />
                            </div>
                            <div class="col-md-7">
                                <h4 style="font-size: 22px; font-weight: 700;">Pasha Maher</h4>
                                <p style="color: #2A2A2A; font-size: 20px;"> Co-Founder</p> 
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="margin-top: 10px;">
                <div class="card">
                    <br>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-3">
                            <img src="../../../assets/zach.png" />
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-size: 22px; font-weight: 700;">Zach Hall</h4>
                            <p style="color: #2A2A2A; font-size: 20px;"> Co-Founder</p> 
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>  
</div>
<app-footer></app-footer>
