<app-top-navbar></app-top-navbar>
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="slider" src="../../assets/banner2.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="line-one">WELCOME TO MAHER</h3>
        <h3 class="line-two">AND HALL'S</h3>
        <p>Here at Maher's and Hall's Famous Jams and Jellies, we  the best Jam <br>
           and Jelly flavor in the city. We are always coming up with a new flavor, <br>
           so not one flavor will ever go unnoticed.
        </p>
        <br>
        <button type="button" class="btn btn-blue btn-primary btn-lg">VIEW PRODUCTS & BUY</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="slider" src="../../assets/banner1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="line-one">WELCOME TO MAHER</h3>
        <h3 class="line-two">AND HALL'S</h3>
        <p>Here at Maher's and Hall's Famous Jams and Jellies, we  the best Jam <br>
           and Jelly flavor in the city. We are always coming up with a new flavor, <br>
           so not one flavor will ever go unnoticed.
        </p>
        <br>
        <button type="button" class="btn btn-blue btn-primary btn-lg">VIEW PRODUCTS & BUY</button>
      </div>
    </ng-template>
  </ngb-carousel>
  <br><br>
  <div class="container">
      <div class="row">
            <div class="col-md-4" style="text-align: center;">
                <img src="../../assets/right-side.png" />
            </div>
            <div class="col-md-1">
            
            </div>
            <div class="col-md-7 intro-text">
                <h2 class="title">ABOUT MAHER AND HALL'S</h2>
                <h2 class="title-two">Famous Jams and Jellies</h2>
                <p style="text-align: justify; margin-top: 15px;">In the early 2010s two men shared a 
                vision... Provide the world with the best damn 
                jams and jellies ever seen. Hours...Days...Months passed the blood sweat and tears 
                finally paid off. The most fantastic huckleberry jam you could ever imagine! Shortly 
                after demoing the product to a few of their closest, the two decided it was time to go 
                mainstream.
                </p>
            </div>
          
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title" style="border-bottom: 1px #cccccc solid;">TOP SELLING <span style="color: #161e67;">PRODUCTS</span></h1>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="text-align: center; margin-top: 10px;">
        <img class="img-fluid" src="../../assets/best-sellers/apple-butter.png" alt="Random first slide">
        <h2 class="title-three">APPLE BUTTER</h2>
        <p style="text-align: justify; margin-top: 20px;">
          This homemade Apple Butter is smooth, creamy, and velvety. Super healthy, delicious, and perfect for spreading on toast, muffins, etc.
        </p>
        <br>
        <button type="button" class="btn btn-blue btn-primary btn-lg">PURCHASE NOW</button>
      </div>
      <div class="col-md-3" style="text-align: center; margin-top: 10px;">
        <img class="img-fluid" src="../../assets/best-sellers/blackberry.png" alt="Random first slide">
        <h2 class="title-three">BLACKBERRY</h2>
        <p style="text-align: justify; margin-top: 20px;">
          Savor the tart, sweet flavor of fresh summer blackberries all year round with this Blackberry Jelly recipe. Can complement any dessert.
        </p>
        <br>
        <button type="button" class="btn btn-blue btn-primary btn-lg">PURCHASE NOW</button>
      </div>
      <div class="col-md-3" style="text-align: center; margin-top: 10px;">
        <img class="img-fluid" src="../../assets/best-sellers/grape-jelly.png" alt="Random first slide">
        <h2 class="title-three">GRAPE JELLY</h2>
        <p style="text-align: justify; margin-top: 20px;">
          America's favorite. Every jar starts with one pound of grapes. For delicious, one‑of‑a‑kind taste with no artificial flavors or colors.
        </p>
        <br>
        <button type="button" class="btn btn-blue btn-primary btn-lg">PURCHASE NOW</button>
      </div>
      <div class="col-md-3" style="text-align: center; margin-top: 10px;">
        <img class="img-fluid" src="../../assets/best-sellers/strawberry.png" alt="Random first slide">
        <h2 class="title-three">STRAWBERRY JELLY</h2>
        <p style="text-align: justify; margin-top: 20px;">
          Strawberry jelly is the stuff of childhood dreams. Sunday afternoon tea is never right without it. It is an essential part of every.
        </p>
        <br>
        <button type="button" class="btn btn-blue btn-primary btn-lg">PURCHASE NOW</button>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container-fluid" style="background-image: url(../../assets/background-good.jpg); background-size: cover;
  background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <br><br>
          <h1 class="title" style="border-bottom: 1px #cccccc solid;"><span style="color: #FFFFFF;">WHAT OUR CLIENTS</span><span style="color: #161e67;"> THINK OF US</span></h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4" style="text-align: center; margin-top: 10px;">
          <img src="../../assets/best-sellers/cp.png" />
          <p style="color: #FFFFFF; font-size:15px; text-align: justify;">
            <span style="font-size: 40px;"><i class="fa fa-quote-left" aria-hidden="true"></i></span><br> 
            I prefer strawberry jams, AND Maher and Hall’s Strawberry Jam beats out all of the others! This one has great texture and natural flavor! I recommend Maher and Hall’s Grape Jelly over any other grape spread as well! Actually, try whichever flavor you prefer. You can’t go wrong!
          </p>
          <h2 style="color: #FFFFFF; font-family: Arial, Helvetica, sans-serif;  font-weight: 700;">C. Robinson</h2>

        </div>
        <div class="col-md-4" style="text-align: center; margin-top: 10px;">
          <img src="../../assets/best-sellers/josephp.png" />
          <p style="color: #FFFFFF; font-size:15px; text-align: justify;">
            <span style="font-size: 40px;"><i class="fa fa-quote-left" aria-hidden="true"></i></span><br> 
            I am a long time customer of Maher and Hall’s Famous Jams and Jellies. They make everyone feel at home when visiting their shop. Their jams and jellies are great for baking and even for something as simple as a peanut butter and jelly sandwich. I used their jelly to make jam-filled butter cookies at Christmas, and they were a favorite! #holidaybaking
          </p>
          <h2 style="color: #FFFFFF; font-family: Arial, Helvetica, sans-serif;  font-weight: 700;">Joseph Valdez</h2>
        </div>
        <div class="col-md-4" style="text-align: center; margin-top: 10px;">
          <img src="../../assets/best-sellers/shannonp.png" />
          <p style="color: #FFFFFF; font-size:15px; text-align: justify;">
            <span style="font-size: 40px;"><i class="fa fa-quote-left" aria-hidden="true"></i></span><br> 
            My mom has always used Maher and Hall’s Famous Jams and Jellies since I was small so as a parent, I won’t use anything else with my kids. Whether its grape, strawberry, or blackberry, it comes from Maher and Hall. Their price is so reasonable, and I would recommend this product to all moms. 
          </p>
          <h2 style="color: #FFFFFF; font-family: Arial, Helvetica, sans-serif;  font-weight: 700;">Shannon Ortiz</h2>  
        </div>
      </div>
      <br><br>
    </div>  
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 margin-top: 10px;">
        <div class="card bloc-one">
          <br>
          <i style="font-size: 60px;" class="fa fa-handshake-o" aria-hidden="true"></i>
          <div class="card-body">
            <h5 class="card-title">COMMITMENT</h5>
            <p class="card-text">
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 margin-top: 10px;">
        <div class="card bloc-two">
          <br>
          <i style="font-size: 60px;" class="fa fa-hand-rock-o" aria-hidden="true"></i>
          <div class="card-body">
            <h5 class="card-title">INTEGRITY</h5>
            <p class="card-text">
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 margin-top: 10px;">
        <div class="card bloc-three">
          <br>
          <i style="font-size: 60px;" class="fa fa-fire" aria-hidden="true"></i>
          <div class="card-body">
            <h5 class="card-title">SUSTAINABILITY</h5>
            <p class="card-text">
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 margin-top: 10px;">
        <div class="card bloc-four">
          <br>
          <i style="font-size: 60px;" class="fa fa-check-square-o" aria-hidden="true"></i>
          <div class="card-body">
            <h5 class="card-title">CONSISTENCY</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
<app-footer></app-footer>